{% extends "base.html" %}
{% block header %}
    <title>监控报警平台</title>
    <meta name="description" content="监控报警平台">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.tree.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/jquery.min.js"></script>
{% endblock %}
{% block bodytype %}
<body data-type="index" class="theme-white">
{% endblock %}
{% block contextbody %}
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-blue am-cf">
                            <div class="widget-statistic-header">
                               当前监控主机总数 
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    27,294
                                </div>
                                <span class="widget-statistic-icon am-icon-desktop"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                               正常主机
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    27,294
                                </div>
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                               异常主机
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    27,294
                                </div>
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-8">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">业务机器正常指数</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">

                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">监控服务器负载</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body widget-body-md am-fr">

                                <div class="am-progress-title">CPU Load <span id="cpuload" class="am-fr am-progress-title-more">0%</span></div>
                                <div class="am-progress">
                                    <div id="cpuloadline" class="am-progress-bar" ></div>
                                </div>
                                <div class="am-progress-title">Disk Usage <span id="diskload" class="am-fr am-progress-title-more">0%</span></div>
                                <div class="am-progress">
                                    <div id="diskloadline" class="am-progress-bar  am-progress-bar-warning"></div>
                                </div>
                                <div class="am-progress-title">Mem Usage <span id="memload" class="am-fr am-progress-title-more">0%</span></div>
                                <div class="am-progress">
                                    <div id="memloadline" class="am-progress-bar am-progress-bar-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">

                        <div class="widget am-cf widget-body-lg">
                          <div class="widget-head am-cf">
                                <div class="widget-title am-fl">事件日志</div>
                            </div>

                            <div class="widget-body  am-fr">
                                <div class="am-scrollable-horizontal ">
                                    <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>时间</th>
                                                <th>ip</th>
                                                <th>事件内容</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jstail %}
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/amazeui.tree.min.js"></script>
    <script src="/static/assets/js/amazeui.datatables.min.js"></script>
    <script src="/static/assets/js/dataTables.responsive.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/assets/js/app.js"></script>
{% endblock %}
