{% extends "base.html" %}
{% block header %}    
    <title>settings</title>
    <meta name="description" content="settings">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="/static/jRange/jquery.range.css">
    <script src="/static/assets/js/jquery.min.js"></script>
{% endblock %}
{% block bodytype %}
<body data-type="{{bodytype}}" class="theme-white">
{% endblock %}
{% block contextbody %}
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">阙值设置</div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-line-form">
                                    <div class="am-form-group">
                                        <label for="memrange" class="am-u-sm-3 am-form-label" style="padding-top: 0px;top:-12px;">内存阈值:</label>
                                        <div class="am-u-sm-9">
                                            <input type="hidden" class="slider-input" id="memrange">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="rootrange" class="am-u-sm-3 am-form-label" style="padding-top: 0px;top:-12px;">根分区:</label>
                                        <div class="am-u-sm-9">
                                            <input type="hidden" class="slider-input" id="rootrange">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="loadrange" class="am-u-sm-3 am-form-label" style="padding-top: 0px;top:-12px;">负载:</label>
                                        <div class="am-u-sm-9">
                                            <input type="hidden" class="slider-input" id="loadrange">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" id="rangebutton" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block jstail %}
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/amazeui.datatables.min.js"></script>
    <script src="/static/assets/js/dataTables.responsive.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/jRange/jquery.range.js"></script>
    <script src="/static/assets/js/app.js"></script>
{% endblock %}
